<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CourseMapper">
	
	<resultMap id="rsCourse" type="com.zc.entity.Course">
		<result property="id" column="ID" />
		<result property="teacherId" column="TEACHER_ID" />
		<result property="name" column="NAME" />
		<result property="cyear" column="CYEAR" />
		<result property="schTerm" column="SCH_TERM" />
		<result property="credit" column="CREDIT" />
		<result property="state" column="STATE" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="courseId" column="COURSE_ID" />
	</resultMap>
	
	
	<select id="findById" resultMap="rsCourse" parameterType="java.lang.Long">
		select  a.*,b.name teacherName from t_course a,t_teacher b
		<where>
			a.ID = #{id} and a.teacher_id = b.id
		</where>
	</select>
	
	
	<select id="findList" resultMap="rsCourse">
		select  a.*,b.name teacherName from t_course a,t_teacher b
		<where>
			<if test="Course != null and Course.id != null ">  
				and ID = #{Course.id}
			</if>
			<if test="Course != null and Course.teacherId != null and Course.teacherId != 0 ">  
				and b.ID = #{Course.teacherId}
			</if>
			<if test="Course != null and Course.teacherName != null and Course.teacherName != '' ">  
				and b.NAME like '%${Course.teacherName}%'
			</if>
			<if test="Course != null and Course.name != null and Course.name != '' ">  
				and a.NAME like '%${Course.name}%'
			</if>
			<if test="Course != null and Course.cyear != null and Course.cyear != 0 ">  
				and a.CYEAR = #{Course.cyear}
			</if>
			<if test="Course != null and Course.schTerm != null ">  
				and a.SCH_TERM = #{Course.schTerm}
			</if>
			<if test="Course != null and Course.credit != null ">  
				and a.CREDIT = #{Course.credit}
			</if>
			<if test="Course != null and Course.state != null and Course.state != 0 ">  
				and a.STATE = #{Course.state}
			</if>
			<if test="createDateBegin != null" >
				<![CDATA[
				and CREATE_DATE >= #{createDateBegin} 
				]]> 
			</if>
			<if test="createDateEnd != null" > 
				<![CDATA[
				and CREATE_DATE <= #{createDateEnd}
				]]> 
			</if>
			<if test="Course != null and Course.courseId != null ">  
				and COURSE_ID = #{Course.courseId}
			</if>
			 and a.teacher_id = b.id
		</where>
		<if test="order != null and order != '' ">  
			order by ${order} ${sort}
		</if>
	</select>
	
	<insert id="add" parameterType="com.zc.entity.Course">
		insert into t_course 
			(
			ID, 
			TEACHER_ID, 
			NAME, 
			CYEAR, 
			SCH_TERM, 
			CREDIT, 
			STATE, 
			CREATE_DATE, 
			COURSE_ID
			) 
		values
			(
			seq_course.nextval, 
			#{teacherId, jdbcType=NUMERIC}, 
			#{name, jdbcType=VARCHAR}, 
			#{cyear, jdbcType=NUMERIC}, 
			#{schTerm, jdbcType=NUMERIC}, 
			#{credit, jdbcType=NUMERIC}, 
			#{state, jdbcType=NUMERIC}, 
			sysdate, 
			#{courseId, jdbcType=NUMERIC}
			)
	</insert>
	
	<update id="update" parameterType="com.zc.entity.Course">
		update t_course
			 <set> 
				<if test=" teacherId != null and teacherId != 0 ">TEACHER_ID = #{teacherId, jdbcType=NUMERIC}, </if>
				<if test=" name != null ">NAME = #{name, jdbcType=VARCHAR}, </if>
				<if test=" cyear != null and cyear != 0 ">CYEAR = #{cyear, jdbcType=NUMERIC}, </if>
				<if test=" schTerm != null ">SCH_TERM = #{schTerm, jdbcType=NUMERIC}, </if>
				<if test=" credit != null ">CREDIT = #{credit, jdbcType=NUMERIC}, </if>
				<if test=" state != null and state != 0 ">STATE = #{state, jdbcType=NUMERIC}, </if>
				<if test=" createDate != null ">CREATE_DATE = #{createDate, jdbcType=TIMESTAMP}, </if>
				<if test=" courseId != null and courseId != 0 ">COURSE_ID = #{courseId, jdbcType=NUMERIC}, </if>
				ID = #{id}
		</set>
			<where>
				ID = #{id}
			</where>
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from t_course
		<where>
			ID = #{id}
		</where>
	</delete>
	
</mapper>
